.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sidebar{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px 0px 0px 50px;
  border-right: 0.3px solid black;
  position: relative;
 
  
}


#sideBarLinksContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
  height: 100%;
  padding: 00px 0px 0px 0px;
  justify-content: space-between;
  align-items: center;
  align-content:left;
 
}

#sideBarLinksContainer > .sideNavLink{
  color: black;
  margin-right: auto;
  margin-bottom: 20px;
}




